version: "3.9"

services:
  db:
    image: postgres:16
    container_name: qrhiar-db-1
    restart: always
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - qrhiar_dbdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: qrhiar-redis-1
    restart: always
    ports:
      - "${REDIS_PORT:-6379}:6379"
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  qrhiar_dbdata: {}
